# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ButtonProject.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Unity\Repos\CodeLab1\Week8\mab1488-HW-Week8\ButtonProject\.idea\.idea.ButtonProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
